<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pantalla principal</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Elecciones CSJCU</h2>

                    <p>Módulo creado para recepcionar el voto del trabajadores de La Corte Superior de Justicia del Cusco</p>

                    <p><a class="btn btn-primary" href="#/login">Ingresar »</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/17506039" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
                        <p>
                            <a href="https://vimeo.com/17506039"></a>
                            <!--from 
              <a href="https://vimeo.com/user43763400">kevin</a> on 
              <a href="https://vimeo.com">Vimeo</a>.-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <!-- <a class="btn btn-default" href="#"><i class="ion-social-github"></i> GoPlanr project</a>-->
</div>
</div>